@model IEnumerable<Agencia.Models.Destino>

@{
    ViewData["Title"] = "Index Destino";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Destino</title>
    <style>
    </style>
</head>

<body>

    <main class="flex-fill"></main>

<body>
  <img class="d-block w-100 mb-5" src="./imagem/setas.jpg" class="img-fluid" alt="Imagem responsiva">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 id="destinos" class="featurette-heading">Venha para o Ceará! Conheça <span class="text-muted">Jericoacoara!</span></h2>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    </div>
    <div class="col-md-5">
      <img src="./imagem/lugares-para-viajar-no-brasil-barato-Jericoacoara-905x642.jpg" class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 id="destinos" class="featurette-heading">A mais querida da Costa do Sol! <span class="text-muted">Búzios!</span></h2>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img src="./imagem/buzios.jpg" class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette mb-5">
    <div class="col-md-7">
      <h2 id="destinos" class="featurette-heading">Praia e cachoeira? Sim, só em <span class="text-muted">Trindade!</span></h2>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    </div>
    <div class="col-md-5">
      <img src="./imagem/trindade.jpg" class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image" >
    </div>
  </div>
</body>
  <br>
  <h1 class="text-center mb-5"><a asp-action="Create">Clique aqui e escolha seu destino</a></h1>

<div class="invisible">
 <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeDestino)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeDestino)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdDestino">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdDestino">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdDestino">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
</body>
</html>
